<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="text-700 text-center">
    <div class="text-blue-600 font-bold mb-3"><i class="pi pi-discord"></i>&nbsp;GRACIAS A GHOST Y A ORACLE CLOUD</div>
    <div class="text-900 font-bold text-5xl mb-3">Conoceme Un Poco</div>
    <div class="text-700 text-2xl mb-5">Revisa artículos relativos a Spring Boot y Angular, así como de herramientas de
      software que utilizo a diario.
    </div>
    <button class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap" icon="pi pi-cloud" label="Mira Mi Blog" pButton
            pRipple></button>
  </div>
</div>
