<p-divider></p-divider>
<div class="flex flex-column">
  <div class="flex align-items-center justify-content-center h-4rem font-bold border-round m-2">
    <h2>Java Evolution</h2>
  </div>
  <div class="flex align-items-center justify-content-center h-4rem font-bold border-round m-2">
    <h4>Por Duberly Guarnizo</h4>
  </div>
  <div class="flex align-items-center justify-content-center h-4rem font-bold border-round m-2">
    <i class="pi pi-home"></i>
    <i class="pi pi-github"></i>
    <i class="pi pi-linkedin"></i>
    <i class="pi pi-facebook"></i>
  </div>
</div>
